footer{
    padding: 19px 0;
    font-family: Libre Baskerville;
}
.footer-contain{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1004px;
    margin: 0 auto;
}
.footer-social_media{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footerlink{
    width: 30px;
    height: 30px;
}
.footer-social_media a:not(:last-of-type){
    margin-right: 35px;
}
.footerlink img{
    
    width: 100%;
}
.footer-text{
    font-size: 20px;
}

/* Making footer responsive */
@media screen and (max-width: 953px){
    .footer-social_media a:not(:last-of-type){
        margin-right: 20px;
    }
}

@media screen and (max-width: 767px){
    .footerlink{
        width: 20px;
        height: 20px;
    }
    .footer-text{
        font-size: 16px;
    }
}